<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sign In Form</title>

    <!-- Font Icon -->
    <link
      rel="stylesheet"
      href="assets/fonts/material-icon/css/material-design-iconic-font.min.css"
    />

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css" />
    <link rel="stylesheet" href="assets/css/templatemo-stand-blog.css" />
    <link rel="stylesheet" href="assets/css/owl.css" />

    <link
      rel="stylesheet"
      href="assets/fonts/material-icon/css/templatemo-stand-blog.css"
    />

    <!-- Main css -->
    <link rel="stylesheet" href="assets/css/sign.css" />
  </head>
  <body>
    <div>
      <!-- header -->
      <%- include ('partials/header.ejs') %>
      <!-- header -->
    </div>
    <div class="main">
      <!-- Sing in  Form -->
      <section class="form-s sign-in">
        <div class="container">
          <div class="signin-content">
            <div class="signin-image">
              <figure>
                <img src="assets/images/signin-image.jpg" alt="sing up image" />
              </figure>
              <a href="/register" class="signup-image-link"
                >Create an account</a
              >
            </div>

            <div class="signin-form">
              <h2 class="form-title">Sign In</h2>
              <form
                method="POST"
                action="/auth/login"
                class="register-form"
                id="login-form"
              >
                <div class="form-group">
                  <label for="email"
                    ><i class="zmdi zmdi-account material-icons-name"></i
                  ></label>
                  <input
                    type="text"
                    name="email"
                    id="email"
                    placeholder="Email here."
                  />
                </div>
                <div class="form-group">
                  <label for="password"><i class="zmdi zmdi-lock"></i></label>
                  <input
                    type="password"
                    name="password"
                    id="password"
                    placeholder="Password"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="checkbox"
                    name="remember-me"
                    id="remember-me"
                    class="agree-term"
                  />
                  <label for="remember-me" class="label-agree-term"
                    ><span><span></span></span>Remember me</label
                  >
                </div>
                <div class="form-group form-button">
                  <input
                    type="submit"
                    name="signin"
                    id="signin"
                    class="form-submit"
                    value="Log in"
                  />
                </div>
              </form>
              <div class="social-login">
                <span class="social-label">Or login with</span>
                <ul class="socials">
                  <li>
                    <a href="#"
                      ><i class="display-flex-center zmdi zmdi-facebook"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="display-flex-center zmdi zmdi-twitter"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="display-flex-center zmdi zmdi-google"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- header -->
    <%- include ('partials/footer.ejs') %>
    <!-- header -->

    <!-- JS -->
    <!-- <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script> -->
  </body>
</html>
